*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

body{
    background-color:cyan;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    margin:10px;
    font-size:18px;
    margin-bottom:10px;
    /* border:3px solid black; */
    
}

h1 {
    font-size:50px;
    text-align:center;
    margin-bottom:50px;
}

/* .container {
    text-align:center;
    margin:auto;
    margin:10px;
    border:3px solid brown;
} */

/* .container .anc {
    background:white;
    text-decoration:solid;
    text-transform: uppercase;
    padding:auto;
    margin:20px;
    display:block;
    color:black;
} */
/* .container .anc:hover{
    background-color:pink;
} */

h3,h4,p,li {
    margin-bottom:10px;

}

ol li,
ul li {
    
    list-style:none;
}

.btn {
    padding:10px;
}

.btn a {
    text-decoration:none;
    text-transform:uppercase;
    color:black;
}

.btn:hover, .btn a:hover{
    border:none;
    background:black;
    color:#f7f7f7;
}



img {
    display:block;
    height:auto;
    width:400px;
    margin:10px auto;
}