*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

body{
    color: #555;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    
}

h1 {
    color:#020020;
    font-size:50px;
    text-align:center;
    margin-bottom:50px;
}

.list-items li {
    background: #f7f7f7;

}

li a:hover {
    color: orangered;
}

.list-items li a{
    /* list-style: none; */
    text-decoration: none;
    font-variant: small-caps;
    text-shadow: 3px 5px 2px rgba(0 0 0 / 0.7);

}




h3,h4,p,li {
    margin-bottom:10px;

}

ol li,
ul li {
    
    list-style:none;
}

.btn {
    padding:10px;
}

.btn a {
    text-decoration:none;
    text-transform:uppercase;
    color:black;
}

.btn:hover, .btn a:hover{
    border:none;
    background:black;
    color:#f7f7f7;
}



img {
    display:block;
    height:auto;
    width:400px;
    margin:10px auto;
}